################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/StudyCore.Api/StudyCore.Api/obj
/StudyCore.IRepository/obj
/StudyCore.IServices/obj
/StudyCore.Model/obj
/StudyCore.Repository/obj
/StudyCore.Services/obj
